<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" value="172.16.0.2"/>
  <arg name="load_gripper" value="true" />

  <include file="$(find franka_control)/launch/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="true" />
  </include>


  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" />
  <node name="controller_spawner1" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args=" --stopped joint_velocity_example_controller"/>

  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" />
  <node name="controller_spawner3" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args=" --stopped cartesian_velocity_example_controller"/>


  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="true" />
  </include>

 <include file="$(find panda_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>


  <arg name="rviz_tutorial" default="false" />
  <arg name="use_gui" default="false" />
  <arg name="debug" default="false" />


 <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" >
    <param name="rate" value="1000"/>
  </node>

  <!-- Run Rviz -->
  <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


</launch>
