<?xml version="1.0" ?>
<launch>
	<node name="StaticGrasp" pkg="robot_task" type="static_grasp" output="screen" >
		<param name="velocity" 	value = "0.50" />
		<param name="reference" value = "0.0040" />
		<param name="force" 		value = "4.5"  />
        <param name="pause1" 	value = "5"  />
        <param name="pause2" 	value = "5"  />
        <param name="inner" 		value = "0.03"  />
        <param name="outer" 		value = "0.008"  />
	</node>


</launch>