<?xml version="1.0" ?>
<launch>
	<node name="GripperControl" pkg="gripper_control" type="auto_gripper_control_node" output="screen" >
		<param name="P" value = "0.00075" />
		<param name="I" value = "0" />
		<param name="D" value = "0" />
		<param name="velocity" value = "0.50" />
		<param name="reference" value = "7" />
		<param name="offset" value = "0.005"  />
		<param name="upper_bound" value = "0.007" />
		<param name="lower_bound" value = "0.003" />
		<param name="topic" value = "/franka_state_controller/External_Wrench_Filter" />
		<param name="tactile_ref" value = "0.065" />
	</node>
</launch>
